*{
   padding: 0;
   margin: 0;
   z-index: 0;
}

body{
   height: 100%;
   width: 100%;
	animation: animateBgColor 4s linear infinite;
}

#wf-container{
   width: 500px;
   height: 150px;
   _border: 1px dotted silver;
   margin: 18% auto;
}

.wf-comp{
   width: 100%;
   height: 48.75%;
   display: block;
   _border: 1px solid #aaa;
}

.wf-bar{
   width: 10px;
   height: 25px;
   display: inline-block;
}

@keyframes animateBgColor{
   0% { backgroun-color: #ace; }
   50% { background-color: #eca; }
   100% { backgroun-color: #ace; }
}

#wf-main{
   z-index: 100;
   opacity: 1;
}

#wf-shadow{
   transform: skewX(-45deg);
   z-index: -100;
   opacity: 0;
}

div.light{
   background: linear-gradient(#222, #000);
}
div.dark{
   background: linear-gradient(#ddd, #aaa);
}

#wf-main .wf-bar{
   background: linear-gradient(#222, #000);
   z-index: 1000;
}

#wf-shadow .wf-bar {
   background: linear-gradient(#fff, black);
   position: relative;
   top: -73px;
   left: -60px;
   z-index: -1000;
}